* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex-direction: column;
}

#main h1 {
    color: #fff;
}

#main > * {
    padding: 20px;
}